[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = True
retry_files_enabled = False
display_args_to_stdout = False
interpreter_python = auto_silent

[persistent_connection]
connect_timeout = 30
command_timeout = 60
